projects/software/build
projects/software_build
projects/software_app
projects/software/app
projects/software/app/client
projects/software/app/host
projects/software/app/hdw
projetcs/software/build
projects/irc_tests/build
projects/irc_tests/build.app
projects/irc_tests/build.eclipse
projects/irc_tests/app
projects/chibios_test/test/build/lst
projects/chibios_test/test/.dep
projects/chibios_test/usb_cdc/build/lst
projects/chibios_test/usb_cdc/.dep
projects/ctrl-board/firmware/firmware/build/lst
projects/ctrl-board/firmware/firmware/.dep
projects/ctrl-board/software/build
projects/ctrl-board/software/build.app
*.swp
*.o
.libs
.deps
Debug
Release
_temp


